	 
 .sab-header{
 	margin-top:20px; 
 }
 .sab-header h1{
 	color:#F4682E; 
 }

.contactus{
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}



.c2 h1{
	border-bottom:2px solid #444;
	width:18%;
}
	

.c2 h2{
	margin-left:35%;
	color:white;
}
.c2{

	background-color:#3681AC; 


}

.c2 .sab li{
	margin-left:50%;
	line-height:40px;
	  
}
.c2 .sab li a{
	color:#ddd; 
}


.c2  .sab1 li{
	margin-left:50%;  
	line-height:40px;  

}
.c2  .sab1 li a
{
 color:#ddd; 
}
.c2  .sab2 li{
	margin-left:50%;  
	line-height:40px;  
}
.c2  .sab2 li a
{
  color:#ddd; 	
}


	

.c3 .sab5 iframe{
	position:absolute;
	left:0px;
	width:100%;
		
	
	
}
.sab-c1 .map iframe{
	
	left:0px;
	width:100%;
	height:300px;
}
.sab-contactus{
	background-color:;

	
}


#shakeel{
color:#CF1218;
	margin-top:10px;


 }
 .contactus h1 {
 	margin-left:10px; 
 	border-bottom:2px solid #666;
     width:50%;	

}

 .contactus p{
 	margin-left:10px; 
 }

.shakeelclass {
	vertical-align:top; 
	margin-top:10px;
	display: inline-block;
}
.shakeelclass1 {
	vertical-align:top; 
	margin-top:10px;
	display: inline-block;
}
.shakeelclass2 {
	vertical-align:top; 
	margin-top:10px;
	display: inline-block;
}


.btn{
	background-color:black;
	color:#fff;
}

.btn:hover{
	background-color:grey; 

}


.sab-heading{
		margin-top:35px; 
	}




.sab-heading p{

	text-align:center;
	margin:0;
	 font-size: 16px;
	 font-weight: 300;  
	  line-height: 1.625;
	   font-family: 'Source Sans Pro', helvetica, sans-serif, arial;

}
.sab-techtalks 	{
	margin-top:30px; 
}




.sab-jumbotron{
    
background-image:url("../images/pexels-photo-288477	.jpeg");
background-size:cover; 

margin-top:25px;
height:100%; 
 
 
}
.sab-jumbotron h1{
text-align: center;
margin-top:5%; 
color:#fff;
}













<!--Techtalks-->

 
.sab-heading{
		margin-top:35px; 
	}




.sab-heading p{

	text-align:center;
	margin:0;
	 font-size: 16px;
	 font-weight: 300;  
	  line-height: 1.625;
	   font-family: 'Source Sans Pro', helvetica, sans-serif, arial;

}
.sab-techtalks 	{
	margin-top:30px; 
}




.sab-jumbotron{
    
background-image:url("../images/pexels-photo-288477	.jpeg");
background-size:cover; 

margin-top:25px;
height:100%; 
 
 
}
.sab-jumbotron h1{
text-align: center;
margin-top:5%; 
color:#fff;
}






















































